# Scala Spark to Pandas


### Converting a Scala Spark DataFrame to a Pandas DataFrame


First, notice that we added `pandas` as a `pip` dependency in the Configuration section above. 

Now, let's create the Scala DataFrame

In [1]:
val scalaDF = spark.createDataFrame(List(1,2,3).map(x => (x, x*2)))
scalaDF.show()

+---+---+
| _1| _2|
+---+---+
|  1|  2|
|  2|  4|
|  3|  6|
+---+---+

Next, in Python, we will convert the Scala DataFrame to a Pandas DataFrame through PySpark

In [3]:
from pyspark.sql import DataFrame
pythonDF = DataFrame(scalaDF, sqlContext) # sqlContext is provided by Polynote
pandaDF = pythonDF.toPandas()
pandaDF.head()

   _1  _2
0   1   2
1   2   4
2   3   6