# Scala Spark to Pandas


### Converting a Scala Spark DataFrame to a Pandas DataFrame


First, notice that we added `pandas` as a `pip` dependency in the Configuration section above. 

Now, let's create the Scala DataFrame

In [1]:
val scalaDF = spark.createDataFrame(List(1,2,3).map(x => (x, x*2)))
scalaDF.show()

+---+---+
| _1| _2|
+---+---+
|  1|  2|
|  2|  4|
|  3|  6|
+---+---+

When we reference the DataFrame in Python, Polynote automatically converts it to a PySpark DataFrame. 

We can use PySpark's `toPandas()` to get our hands on a Pandas DataFrame.

In [3]:
pandaDF = scalaDF.toPandas()
pandaDF.head()

   _1  _2
0   1   2
1   2   4
2   3   6